body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.word-display {
  font-size: 5rem; /* Increased font size */
  letter-spacing: 0.1rem; /* Reduced letter spacing */
  margin-bottom: 2rem;
  text-align: center;
  /* Add a class for correct and incorrect letters */
}

.correct-letter {
  color: green;
}

.incorrect-letter {
  color: red;
}

.word-input {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
  width: 50%;
}

.message {
  margin-top: 1rem;
  font-size: 1.5rem;
}

