@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

/* Base styles */
html {
  font-size: 100%; /* Default to 16px */
}

body {
  margin: 0;
  padding: 0;
}

.correct-letter {
  color: green;
}

.incorrect-letter {
  color: red;
}

/* Styles for the image display on desktop */
#wordImage {
  display: block;
  width: 15%; /* Default for desktop */
  height: auto;
  margin: 20px auto;
}

/* Adjustments for tablets */
@media (max-width: 768px) {
  #wordImage {
    width: 40%; /* Slightly larger on tablet screens */
    margin: 15px auto; /* Adjust margin as needed */
  }
}

/* Further adjustments for mobile devices */
@media (max-width: 480px) {
  #wordImage {
    width: 60%; /* Even larger on mobile screens */
    margin: 10px auto; /* Less margin on small screens */
  }
}

/* Styles for the word display */
#wordDisplay {
  font-family: 'Helvetica', sans-serif;
  font-size: 7vw;
  letter-spacing: normal; /* Adjust if needed */
  text-align: center;
  margin: 0 auto; /* Ensure no side margins are pushing the text off-center */
  padding: 0; /* Ensure no padding is affecting the centering */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  width: 100%; /* Full width to ensure proper centering */
}

/* Styles for the input field */
.word-input {
  font-family: 'Helvetica', sans-serif;
  font-size: 5vw; /* Larger font size that adjusts based on screen width */
  width: 95%; /* Use a higher percentage for a larger input box */
  max-width: 700px; /* Optional: You can increase this if you want a larger max width */
  height: 60px; /* Increase the height if needed */
  padding: 12px; /* Increase padding to give more space inside the input box */
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 20px auto; /* Increase margin if you want more space around the input box */
  text-align: center;
}

/* Styles for the message display */
.message {
  font-family: 'Helvetica', sans-serif;
  font-size: 2vw; /* Increase the font size */
  text-align: center;
  color: #333;
}

/* Center the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center children horizontally */
  width: 100%;
  margin: 0 auto;
}

.counter {
  font-family: 'Helvetica', sans-serif;
  font-size: 3em;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.word-input.uppercase {
  font-size: 5.5vw; /* Adjust this value as needed */
}

/* Responsive adjustments with media queries */
@media (max-width: 768px) {
  /* Adjustments for tablets and mobile devices */
  #wordDisplay {
    font-size: 10vw; /* Further increase for smaller screens */
  }
  
  .word-input {
    font-size: 6vw; /* Adjust the font size for tablets */
    padding: 10px; /* Adjust padding for tablets */
    height: 50px; /* Adjust height for tablets */
  }
  
  .message {
    font-size: 4vw;
  }

  .container {
    margin-top: 20px; /* Add some top margin on smaller screens */
  }
}

@media (max-width: 480px) {
  /* Further adjustments for mobile devices */
  #wordDisplay,
  .word-input {
    font-size: 7vw; /* Adjust the font size for mobile devices */
    padding: 8px; /* Adjust padding for mobile devices */
    height: 40px; /* Adjust height for mobile devices */
  }

  .message {
    font-size: 6vw;
  }

  .container {
    margin-top: 20px; /* Add some top margin on very small screens */
  }
}
